---
layout: page
title: Dustarah
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container slider-header-container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp top">Sarah and Dustin</h1>
          <h1 class="animated fadeInUp">are</h1>
          <h1 class="animated fadeInUp bottom">Cool</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="engagement" style="margin: 50px 0;">
    <div class="container">
        <div class="row section-heading">
            <span class="section-title">Engagement</span>
        </div>

        <div id="ngy2p-engagement" data-nanogallery2='{
            "itemsBaseURL": "",
            "thumbnailWidth": "200",
            "thumbnailLabel": {
              "display": false
            },
            "galleryDisplayMode": "moreButton",
            "thumbnailAlignment": "center"
          }'>
            {% for image in site.static_files %}
                {% if image.path contains 'img/engagement' %}
                    <a href="{{ site.baseurl }}{{ image.path }}" data-ngthumb="{{ site.baseurl }}{{ image.path }}" data-ngdesc="KGO Photography"></a>
                {% endif %}
            {% endfor %}
        </div>
        <div style="text-align: center;">
            <a href="https://photos.google.com/share/AF1QipN4bLWHTubCU0Y09Xx0LCDyNJid3SWy1GOjYCqgXW08fLOIHAj9LAEg_b35gIHcvA?key=T3BqcHhKN085b1lXazBpSVJoSzU1ZEtVbGZiTktB" target="_blank" style="font-size: 1.5em;">View the Full Gallery</a>
        </div>
    </div>
</section>

<section id="wedding" style="margin: 50px 0;">
    <div class="container">
        <div class="row section-heading">
            <span class="section-title">Wedding</span>
        </div>

        <div id="ngy2p-wedding" data-nanogallery2='{
            "itemsBaseURL": "",
            "thumbnailWidth": "200",
            "thumbnailLabel": {
              "display": false
            },
            "galleryDisplayMode": "moreButton",
            "thumbnailAlignment": "center"
          }'>
            {% for image in site.static_files %}
                {% if image.path contains 'img/wedding' %}
                    <a href="{{ site.baseurl }}{{ image.path }}" data-ngthumb="{{ site.baseurl }}{{ image.path }}" data-ngdesc=""></a>
                {% endif %}
            {% endfor %}
        </div>
        <div style="text-align: center;">
            <a href="https://photos.google.com/share/AF1QipOnxxJk509W4JwtZ-9fYnam2SqG-LCTrV86M_vJRxffSUPqFANNZ5-BzUMxPIqXIQ?key=MDF1ekF3NW80VVFKazNkR01pa3dMQzRlb2JLYjRn" target="_blank" style="font-size: 1.5em;">View the Full Gallery</a>
        </div>
    </div>
</section>
