<!-- footer Start -->
<footer style="margin-top: 100px; padding-top: 40px;">

  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <img src="img/gifs/carlton.gif" style="max-height: 200px;">
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3>You're in the right place!</h3>
            <h4>Dustin and Sarah are getting married!</h4>
          </div>
          <div class="col-md-12">
            <h3>The website is in maintenance mode</h3>
            <h4>Check back on 3/6</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <img src="img/gifs/carlton.gif" style="max-height: 200px;">
      </div>
    </div>

  </div>

</footer>
